* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logoBruta {
  width: 100%;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: 1;
}

#Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 0;
}

.btnNav {
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  size-adjust: justify;
  padding: 0;
}

.imagenGaleria {
  width: 100%;
}

/* LanguageSelector.css */

/* Estilos para el contenedor principal del LanguageSelector */
.language-selector-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alineamos el contenido a la derecha */
}

/* Estilos para el botón redondo */
.language-selector-button {
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Estilos para las imágenes de las banderas */
.language-selector-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Estilos para el dropdown de idiomas */
.language-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
}

.language-dropdown button {
  padding: 8px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language-dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Estilos para el contenedor que envuelve el dropdown abierto */
.open-dropdown-container {
  position: relative;
}

#btnPrincipal {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#btnSub {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#filtroPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#filtroSub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productContainer {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datosMenu {
  align-items: center;
}

.cardMenu {
  z-index: 1;
}
